@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,300&display=swap');

/*this is for the index page background*/
#index_body {
    background-image: url("Images/new-index-background.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
}
/*styling for the team logo in the nabigaion bar*/
#logo-nav {
    float: left;
    height: 50px;
    width: 75px;
    margin-left: -20px;
    margin-right: -30px;
}

/*formatting for the team name*/
#teamname {
    text-align: center;
    font-size: 169px;
    font-family: 'Roboto Mono', monospace;
    color: aquamarine;
    position: relative;
    top: 50px
}
