@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');
/*Download Page CSS*/
body{
    overflow-x:hidden;
    overflow-y:auto;
}
#div_download{
    background-color: rgba(102, 179, 255, 0.8);
    width: 60%;
    height: 250vh;
    margin: 0 auto;
    /*margin: 0 auto; makes the <div> tag centered*/
}
#game_image{
    display: block;
    margin-left:auto;
    margin-right:auto;
    padding-top: 100px;
    padding-bottom: 80px;
    height: 450px;
    width: 750px;
}

.container{
    margin-right: 304px;
    margin-left: 304px;
    border: solid blue 2px;
    background-color: rgb(255, 243, 194);
    
}
.container-text{
    font-size: 20pt;
    font-family: 'Ubuntu', sans-serif;
    text-align: justify;
    margin-right: 10%;
    margin-left: 10%;
}

