  /*this is for the page background*/
body {
    background-image: url("../../Logo/LogoForSite.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: auto;
  }