@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');

/*Home page CSS*/

  /*this is for the index page background*/
#index_body{
  background-image: url("../Images/new-index-background.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
  }

  /*formatting for the team name*/
#teamname{
  text-align: center;
  font-size: 169px;
  font-family: 'Roboto Mono', monospace;
  color: aquamarine;
  position: relative;
  bottom: -300px;
  margin-right: 40px;
  float:right;
  }

  /*styling for the team logo in the nabigaion bar*/
  #logo-nav{
    float: left;
    height: 50px;
    width: 75px;
    padding-top: 10px;
    margin-left: -35px;
    margin-right: -20px;
  }
  
  /*navbar styling*/
  #navbar{
    margin-top: -27px;
    margin-left: -8px;
  }
  #navbar-list{
    display: inline-flex;
    list-style-type: none;
    background-color: rgb(54, 54, 54);
    width: 100%;
    padding-top: 8px;
    padding-bottom: 10px;
    font-size: 14pt;
    
  }
  .navbar-item{
    margin-right: 10px;
    display: block;
    padding: 20px;
    font-family: 'Noto Sans JP', sans-serif;
  }
  a.navbar-item{
    text-decoration: none;
  }
  a.navbar-item:active{
    color:cadetblue;
  }
  a.navbar-item:link{
    color:darkcyan;
  }
  a.navbar-item:visited{
    color:cyan;
  }
  a.navbar-item:hover{
    color:pink;
    text-shadow: 2px 2px grey;
  }

  /*Download Page CSS*/
  #div-download{
    background-color: rgba(102, 179, 255, 0.8);
    width: 60%;
    height: 100vh;
    margin: 0 auto;
    /*margin: 0 auto; makes the <div> tag centered*/
  }
  #game-image{
    display: block;
    margin:auto;
    height: 500px;
    width: 500px;
  }
  /*About Us CSS*/
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  .column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
  }
  
  .about-section {
    padding: 50px;
    text-align: center;
    background-color: #474e5d;
    color: white;
  }
  
  .container {
    padding: 0 16px;
  }
  
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: grey;
  }
  
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
  .button:hover {
    background-color: #555;
  }
  
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }